body{
scroll-behavior:smooth;
}

.hero{
background:linear-gradient(
120deg,
#6366f1,
#8b5cf6
);
color:white;
}

.btn-primary{
background:#6366f1;
color:white;
padding:12px 26px;
border-radius:8px;
transition:0.3s;
}

.btn-primary:hover{
transform:translateY(-2px);
background:#4f46e5;
}

.btn-secondary{
border:1px solid white;
padding:12px 26px;
border-radius:8px;
}

.course-card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.05);
transition:0.3s;
}

.course-card:hover{
transform:translateY(-6px);
}

.course-card h3{
font-size:20px;
font-weight:600;
margin-bottom:10px;
}

.course-card button{
margin-top:10px;
color:#6366f1;
}

#map{
height:400px;
}

.testimonial{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.05);
}

.btn-white{
background:white;
color:#4f46e5;
padding:14px 30px;
border-radius:10px;
}
