*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#f7f9fc;

color:#1e293b;

}


.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,0.05);

position:fixed;

width:100%;

z-index:1000;

}

.logo{

font-weight:700;

font-size:22px;

}


nav a{

margin:0 15px;

text-decoration:none;

color:#444;

font-weight:500;

}


.hero{

height:90vh;

display:flex;

align-items:center;

justify-content:center;

background:

linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),

url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac");

background-size:cover;

color:white;

text-align:center;

padding:20px;

}


.hero h1{

font-size:50px;

margin-bottom:20px;

}


.hero p{

max-width:600px;

margin:auto;

font-size:18px;

}


.hero-buttons{

margin-top:30px;

}


.section{

padding:120px 80px;

}


.title{

text-align:center;

font-size:36px;

margin-bottom:60px;

}


.impact-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:40px;

}


.impact-card{

background:white;

padding:40px;

border-radius:14px;

box-shadow:0 10px 30px rgba(0,0,0,0.05);

text-align:center;

transition:0.3s;

}


.impact-card:hover{

transform:translateY(-10px);

}


.counter{

font-size:48px;

color:#ff7a00;

margin-bottom:10px;

}


.courses{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}


.course-card{

background:white;

padding:35px;

border-radius:14px;

box-shadow:0 15px 35px rgba(0,0,0,0.05);

transition:0.3s;

}


.course-card:hover{

transform:translateY(-10px);

}


#map{

height:450px;

border-radius:12px;

margin-top:40px;

}


.btn-primary{

background:linear-gradient(135deg,#ff7a00,#ff4d00);

color:white;

padding:14px 28px;

border-radius:30px;

border:none;

font-weight:600;

cursor:pointer;

transition:0.3s;

}


.btn-primary:hover{

transform:scale(1.05);

box-shadow:0 10px 25px rgba(255,120,0,0.4);

}


.btn-secondary{

background:white;

border:2px solid white;

padding:14px 28px;

border-radius:30px;

color:white;

margin-left:10px;

cursor:pointer;

transition:0.3s;

}


.btn-secondary:hover{

background:white;

color:black;

}


footer{

background:#111827;

color:white;

padding:60px;

text-align:center;

}
